body {
    margin: 0;
}
nav {
    background-color: rgba(0, 0, 0, 7);
    padding: 3px 0 3px 0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    margin: 0 20px 0 20px;
    font-size: 0.9rem;
}
.manzana {
    background-image: url(/logo.png);
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    display: block;
}