body {
    margin: 0;
}
nav {
    background-color: rgba(0, 0, 0, 7);
    padding: 3px 0 3px 0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    margin: 0 20px 0 20px;
    font-size: 0.9rem;
}
header {
    position: fixed;
    width: 100%;
}
.manzana {
    background-image: url(../fotos/logo.png);
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    display: block;
}
.foto-fondo {
    text-align: center;
    background-image: url(/fotos/iphone-15-pro.png);
    min-height: 1000px;
    background-position: center center;
    background-size: 400px auto;
    background-repeat: no-repeat;
    background-color: black;
    padding-top: 1px;
}   
.texto1 {
    font-size: 3rem;
    color: white;
    margin-top: 60px;
}
.texto2 {
    font-size: 2rem;
    color: whitesmoke;
}
.enlaces a{
    color: #1e89ff;
    margin: 0 30px 0 30px;
    font-size: 1.4rem;
}